<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="mb-5">Game!</h3>
      <app-game-control
        (gameStarted)="onGameStart($event)">
      </app-game-control>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <app-number-display
      class="col-md-6 text-center"
      [isOdd]="false"
      [numArray]="evenArray"
    ></app-number-display>
    <app-number-display
      class="col-md-6 text-center"
      [isOdd]="true"
      [numArray]="oddArray"
    ></app-number-display>
  </div>
</div>
